<div>
  <!-- 7. Agregamos por event binding el valor que viene del input por medio de evento -->
  <app-agregar-tarea (tareaEnviar)="agregarTarea($event)"></app-agregar-tarea>

  <ul>
    <!-- Mostramos la lista de tareas por medio de un for -->
    <li *ngFor="let tarea of listaTareas,  let i = index">
      <!-- 8. Mostramos las tareas recibidas desde el componente agregar-tarea -->
      {{tarea}}
      <button type="button" (click)="eliminarTarea(i)">Eliminar</button>
    </li>
  </ul>
</div>
